<div id="<%= dom_id lunch %>">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= lunch.item_name %></h5>
    <p class="card-text"><%= lunch.item_description %> <%= lunch.item_price %></p>
    <%= link_to "Show this Lunch", lunch , class:"btn btn-dark"%></a>
  </div>
</div>
</div>
