<div id="<%= dom_id breakfast %>">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= breakfast.item_name %></h5>
    <p class="card-text"><%= breakfast.item_description %> <%= breakfast.item_price %></p>
    <%= link_to "Show this Breakfast", breakfast , class:"btn btn-dark"%></a>
  </div>
</div>
</div>
