<div id="<%= dom_id dinner %>">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= dinner.item_name %></h5>
    <p class="card-text"><%= dinner.item_description %> <%= dinner.item_price %></p>
    <%= link_to "Show this Dinner", dinner , class:"btn btn-dark"%></a>
  </div>
</div>
</div>
